@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.typed-cursor {
  font-size: 1.5em; /* makes it taller */
  font-weight: bold; /* makes it thicker */
  line-height: 1; /* align better */
  color: #e4dbe1db; /* optional color */
}
