@import "tailwindcss";

.typed-cursor {
  font-size: 1.5em; /* makes it taller */
  font-weight: bold; /* makes it thicker */
  line-height: 1; /* align better */
}

:root {
  --primary: #FF9F1C;
  --secondary: #da762f;
  --bg: #262626;
}

#btn1 {
  background-color: var(--primary);
  color: var(--bg) !important;
}
#hw {
  color: var(--primary);
}

.border-colour {
  background-color: var(--primary);
}

.highlight-primary {
  color: var(--primary);
}
.highlight-secondary {
  color: var(--secondary);
}

#btn2 {
  border: 2px solid var(--primary);
}

.sidebar {
  background-color: var(--bg);
}