@import "tailwindcss";

.typed-cursor {
  font-weight: 900 !important;
  font-size: 1.5em !important;
  line-height: 1 !important;
  font-family: sans-serif !important;
}

:root {
  --primary: #ff9f1c;
  --secondary: #da762f;
  --bg: #262626;
}

#btn1 {
  background-color: var(--primary);
  color: var(--bg) !important;
}
#hw {
  color: var(--primary);
}

.border-colour {
  background-color: var(--primary);
}

.highlight-primary {
  color: var(--primary);
}
.highlight-secondary {
  color: var(--secondary);
}

#btn2 {
  border: 2px solid var(--primary);
}

.sidebar {
  background-color: var(--bg);
}
